#***********************************************************************
# MadGraph5_aMC@NLO run_card fragment  --  BASIS / TEMPLATE ONLY
#-----------------------------------------------------------------------
# Point   : {{POINT_ID}}
# Run tag : {{RUN_NAME}}
# Made    : {{GENERATED_AT}}
#
# This is NOT a full run_card.  Start from MadGraph's default run_card.dat
# and set at least the beam energy below to match sqrt(s) = {{SQRT_S_TEV}} TeV.
# Everything else (cuts, nevents, PDF) is left to the analyst's default.
#***********************************************************************
{{EBEAM_GEV}}  = ebeam1   ! beam 1 energy in GeV  (sqrt(s)/2)
{{EBEAM_GEV}}  = ebeam2   ! beam 2 energy in GeV  (sqrt(s)/2)
